@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
h1,p,a{
    font-family: Azeret Mono;
}
a{
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 90px;
  }
  .btn {
    
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    display: inline-block;
    padding: 20px 20px;
line-height: 23px;
  }
  .btn-transparent
  {
    background: transparent;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
  }
  .btn a{
    color: rgb(255, 255, 255);
  }
  .btn-transparent a{
    color: rgb(13, 19, 33);
  }
  .section-title{
    text-align: center;
    width: 852px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .section-title h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
margin-bottom: 24px;
  }
  .section-title p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }
  /* nav */
.nav-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 48px 0;
}
/* banner */
.banner-area{
    background: url(../img/Hero-bg.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
width: 1440px;
height: 652px;
top: 131px;
bottom: 4462px;
margin-bottom: 74px;
}
.banner-area img{
width: 240.28px;
height: 240px;
margin-bottom: 32px;
}
.banner-area h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.banner-area p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 32px;
}
.banner-detail{
    width: 998px;
    height: 309px;
    margin: 0 auto;
}
/* why */
.first-why{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.why-details{
    width: 477px;
}
.why-details h1{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.why-details p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
/* ins */
.vdo{
    width: 1076px;
height: 550px;
}
/* target */
.target-box{
    display: flex;
    justify-content: space-between;
}
.target-body{
width: 284px;
height: 219px;
margin: 32px 0px;
}
.target-body h1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
margin-top: 24px;
}
.target-body p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.middle-box{
    border-radius: 16px;
    border-radius: 16px;

    background: #F2F6FE;
width: 364px;
height: 299px;
padding: 40px;
margin: 0px 24px;
}
/* support */
.support{
    background: url(../img/handshake.jpg);
    border-radius: 16px;
    width: 1140px;
height: 313px;
}
.support-details{
    padding-top: 5%;
}
.support-body{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;   
}
.section-title h1{
    color: rgb(255, 255, 255);
}
.section-title p{
    color: rgb(255, 255, 255);
}
.sub{
    color: rgb(13, 19, 33) !important;
}
.help{
width: 548px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 22px 20px 20px 22px;
margin: 0px 10px;
border-radius: 8px;
background: rgb(255, 255, 255);
border: 1px solid rgba(13, 19, 33, 0.15);
}
.submit-btn{
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33) !important;
}
/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 118px;
    margin-bottom: 36px;
}
.footer p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.footer img{
margin-right: 10px;
}